<div class="home-container">
  <div class="navbar">
    <a routerLink="/home">Home</a>
    <a routerLink="/menu">Menu</a>
    <a routerLink="/groceries">Grocery</a>
  </div>
  <div class="home-content">
    <header>Une cuisine pensée. Une liste parfaite.</header>
  </div>
  <div class="separator-horizontal"></div>
  <div class="separator-vertical"></div>
  <div class="bouton-gauche" routerLink="/menu" style="cursor: pointer;">
  Créer un Menu
    <div class="fleche">
        <svg width="60" height="40" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="-10" y1="12" x2="19" y2="12"/>
        <polyline points="12 5 19 12 12 19"/>
        </svg>
    </div>
</div>
<div class="bouton-droite">Créer une liste de course
    <div class="fleche">
        <svg width="60" height="40" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="-10" y1="12" x2="19" y2="12"/>
        <polyline points="12 5 19 12 12 19"/>
        </svg>
    </div>
</div>
</div>



