.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #A3A3A3;
  overflow: hidden;
  z-index: -1;
}

.home-image1{
  position: absolute;
  top: 25%;
  left: -15%;
  width: 50%;
  height: 100%;
  z-index: 0;
}

.home-image2{
  position: absolute;
  top: 15%;
  right: -5%;
  height: 50%;
  z-index: 0;
}

.home-image3{
  position: absolute;
  bottom: -15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  z-index: 2;
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content {
  position: absolute;
  top : 30%;
  margin-top: -30vh; 
  z-index: 1;
}

.navbar{
    position: fixed;
    top : 5%;
    left: 10%;
    font-size: 1.5rem;
    z-index: 1;
}

.navbar a{
    text-decoration: none;
    margin-right: 1.5rem;
    color : black;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;
    text-align: center;
    height: 30vh;
    padding-top: 10vh;  
    font-size: 5.5rem;
    font-family: 'Island Moments', sans-serif;
}

.home-content p {
  text-align: center;       
}



.bouton {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 7%;
  border: 2px solid black;
  border-radius: 29px;
  height: 30%;
  width: 30%;
  font-size: 2rem;
  font-family: "Inria Serif", serif;

  background : rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.bouton-gauche {
  left: 17%;
}

.bouton-droite {
  right: 17%;
}

.bouton-droite .fleche, .bouton-gauche .fleche{
    position: absolute;
    bottom: 12%;
    right: 6%;
    height: 5%;
    width: 5%;
    margin-right: 10%;
}
