<div class="home-container">


  <div class="navbar">
    <a routerLink="/home">Home</a>
    <a routerLink="/menu">Menu</a>
    <a routerLink="/groceries">Grocery</a>
  </div>


  <div class="home-image1">
    <img src="assets/rose.svg" alt="Rose gradient">
  </div>
  <div class="home-image2">
    <img src="assets/vert.svg" alt="Green gradient">
  </div>

  <div class="home-image3">
    <img src="assets/fourchette.svg" alt="fourchette">
  </div>

  <div class="home-content">
    <header>Une cuisine pensée. Une liste parfaite.</header>
  </div>
  <div class="bouton bouton-gauche" routerLink="/menu" style="cursor: pointer;">
  Créer un Menu
    
  </div>


  <div class="bouton bouton-droite">Créer une liste de course
      
  </div>
</div>



