<div class="home-container">
    <div class="navbar">
      <a routerLink="/home">Home</a>
      <a routerLink="/menu">Menu</a>
      <a routerLink="/groceries">Grocery</a>
    </div>


    <div class="titre">
        Grocery List
    </div>


    <div class="assiette1">
        <img src="assets/assiette-1.svg" >
    </div>


    <div class="assiette2">
        <img src="assets/assiette.svg">
    </div>


    <div class="liste">
      <app-liste ></app-liste>
    </div>


    <div class="bibliotheque">
        <p>ma bibliothèque de recettes</p>
    </div>

</div>
