<div class="liste-container">
    <div class="ligne-rouge"></div>
    <div class="ligne-noire2"></div>
    <div class="ligne-noire"></div>

    <div class="titre">
        Liste des courses
    </div>

    <div class="ingredients">
        <div class="ingredient" >
            <div class="checkbox">
                <input type="checkbox" id="ingredient1" >
            </div>
            <span class="nom"></span>
            <span class="quantite"></span>
        </div>
    </div>

    <button class="bouton-rouge">Vider la liste</button>

</div>
